# Expo
.expo/
.expo-shared/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# React Native
node_modules/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local
